#elsection
{
	width: 60%;
	margin: 20px;
	float: left;
    background: #E7E5E5;
	border-radius: 10px;
}

#elaside
{
	width: 35%;
	margin: 20px 0px;
	float: left;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 10px;
}

body {
	background-color: #E7E5E5;
  }

.boton1{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #4AB6D8;
    border-radius: 100px;
    border: 2px solid #ffffff;
  }
  .boton1:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  
.boton2{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #19B959;
    border-radius: 100px;
    border: 2px solid #ffffff;
  }
.boton2:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .boton3{
	text-decoration: none;
    padding: 4px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #19B959;
    border-radius: 100px;
    border: 2px solid #19B959;
  }
.boton3:hover{
    color: #1883ba;
    background-color: #ffffff;
  }


#buscador{
	  width: 800px;
	  height: 35px;
	  border-radius: 100px;
  }

#buscadorboton{

	border-radius: 100px;
	
}
#logo{
	font-size: 28px;
}

#card{
  border-radius: 10px;
  padding: 10px;
}

#sectcard
{
	width: 15%;
	margin: 20px;
	float: left;
    background: #E7E5E5;
	border-radius: 10px;
}

#asdcard
{
	width: 80%;
	margin: 20px 0px;
	float: left;
	padding: 20px;
	background: #E7E5E5;
	border-radius: 10px;
}

#resultados{
  padding-left: 20px;
}

#linea{
  background-color: white;
}
